@import '../../../utils//utils.less';
.icon {
  font-size: 16px;
  .textOverflow;
}

.listWrapper {
  height: calc(100vh - 110px);
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  .listItem {
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: hsla(144, 51.4%, 52.4%, 20%);
    }
  }
}

.title {
  width: 18em;
  margin: 0;
  color: var(--primary-color);
  .textOverflow;
}

.contextMenu {
  position: fixed;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
  margin: 0;
  padding-left: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);;
  .menuItem {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    text-align: justify;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: hsla(144, 51.4%, 52.4%, 20%);
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: calc(100vw - 300px);
  height: 100vh;
  opacity: 0;
}